name: CI - Build, Test, and Publish SDKs

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  changed-sdks:
    name: Determine Changed SDKs
    runs-on: ubuntu-latest
    outputs:
      nodejs-sdk: ${{ steps.check_nodejs_sdk.outputs.changed }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - id: git_refs
      name: Set Git refs for diff
      run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "base=${{ github.event.pull_request.base.sha }}" >> "$GITHUB_OUTPUT"
            echo "head=${{ github.event.pull_request.head.sha }}" >> "$GITHUB_OUTPUT"
          else
            echo "base=${{ github.event.before }}" >> "$GITHUB_OUTPUT"
            echo "head=${{ github.sha }}" >> "$GITHUB_OUTPUT"
          fi

    - id: check_nodejs_sdk
      name: Check Node.js SDK changes
      run: |
        if git diff --name-only "${{ steps.git_refs.outputs.base }}" "${{ steps.git_refs.outputs.head }}" -- '/**' | grep -q .; then
          echo "Node.js SDK changes detected"
          echo "changed=true" >> $GITHUB_OUTPUT
        else
          echo "No Node.js SDK changes detected"
          echo "changed=false" >> $GITHUB_OUTPUT
        fi

  nodejs-sdk:
    name: Node.js SDK
    needs: [changed-sdks]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    strategy:
      matrix:
        node-version: ['18', '20']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    - name: Install dependencies
      run: npm ci

    - name: Lint code
      run: npm run lint

    - name: Set version with Nerdbank.GitVersioning
      run: node setVersion.js

    - name: Build package
      run: npm run build
    
    - name: Run tests
      run: npm test
      
    - name: Pack packages
      run: cd packages && npm pack --workspaces
    
    # Copy packages to drop folder
    - name: Copy packages to drop folder
      run: |
        mkdir -p ~/drop/nodejs-${{ matrix.node-version }} && cp -v packages/*.tgz $_        

    - name: Upload NPM packages as artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nodejs-${{ matrix.node-version }}
        path: ~/drop/nodejs-${{ matrix.node-version }}/*.tgz
          
    # - name: Publish to NPM (commented for now)
    #   if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    #   run: npm publish
    #   env:
    #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
